body {
    margin: 0;
    /* font-family: 'Bungee Hairline', cursive; */
/* mooi basic */
font-family: 'Cutive Mono', monospace;
/* stylish */
/* font-family: 'Michroma', sans-serif; */
/* superbasic */
    /* font-family: "Aileron", monospace, serif; */
    /* background: url(./rings.png) no-repeat center center fixed; */
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.layout {
  position: relative;
  margin-bottom: 3em;
}

h1 {
  font-size: 180%;
}

h2 {
  font-size: 130%;
}
