.basic-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3%;
  padding-right: 3%;
}

/* landscape tablets and bigger */
@media (min-width:862px) {
  .basic-container {
    flex-direction: row;
    padding-left: 7%;
    padding-right: 7%;
  }
}

.page {
  font-size: 250%;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 1em;
  display: block;
}

.quotedBy {
  padding-top: 35px;
  font-size: 100%;
  font-weight: 400;
  display: block;
}
