.basic-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 1000px;
}

.hero-container {
  align-self: center;
  flex: 1;
}

.one-column {
  flex-direction: column;
}

.text-container {
  display: flex;
  flex: 1;
  justify-content: center;
}

/* landscape tablets and bigger */
@media (min-width:862px) {
  .basic-container {
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }
}

.page {
  font-size: 250%;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 1em;
  display: block;
}
