.content {
  display: flex;
  flex-direction: column;
  padding-top: 25%;
  padding-bottom: 20%;
  padding-left: 3%;
  padding-right: 3%;
}

.page {
  font-size: 250%;
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 1em;
  display: block;
}

.limit-text-width {
  width: 65%;
}

.quotedBy {
  padding-top: 35px;
  font-size: 100%;
  font-weight: 400;
  display: block;
}

.social-media {
  visibility: hidden;
  position: fixed;
  bottom: 1em;
  right: 1.5em;
}

/* portrait tablets and bigger */
@media (min-width:557px) {
  .limit-text-width {
    width: 50%;
  }
  .social-media {
    visibility: visible
  }
}

@media (min-width:701px) {
  .limit-text-width {
    width: 47%;
  }
}

/* landscape tablets and bigger */
@media (min-width:862px) {
  .limit-text-width {
    width: 43%;
  }

  .content {
    padding-left: 7%;
    padding-right: 7%;
  }
}

/* wide screens and bigger */
@media (min-width:1201px) {
  .limit-text-width {
    width: 35%;
  }
}